#footer {
    background-color: #DDECFA;
    .footer-container {
        width: 85%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        vertical-align: middle;
        justify-content: center;
        img {
            width: 60px;
        }
        p {
            font-weight: bold;
            margin: auto;
        }
        
    }
}