@import url("https://fonts.googleapis.com/css?family=Rubik");

:root {
  --font-base: "Rubik", sans-serif;

  --primary-color: #f6f8fa;
  --secondary-color: #37b6ff;
  --blue-color: #009ee6;
  --black-color: #000000;
  --lightBlue-color: #8cc5f9;
  --gray-color: #768499;
  --brown-color: #4f4f4f;
  --white-color: #ffffff;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}